services:
  jenkins:
    image: jenkins/jenkins:lts
    container_name: jenkins
    user: root
    ports:
      - "8081:8080"
      - "50000:50000"
    volumes:
      - jenkins_home:/var/jenkins_home
    networks:
      - microservices-net
    entrypoint: /usr/local/bin/jenkins.sh

networks:
  microservices-net:
    name: microservices-net
    external: false

volumes:
  jenkins_home:
    driver: local