services:
  jenkins:
    image: jenkins/jenkins:lts
    container_name: jenkins
    user: root
    ports:
      - "8081:8080"
      - "50000:50000"
    volumes:
      - jenkins_home:/var/jenkins_home
    environment:
      - JAVA_OPTS=-Djenkins.install.runSetupWizard=false
    networks:
      - microservices-net
    command: sh -c "apt-get update && apt-get install -y curl && rm -rf /var/lib/apt/lists/* && /sbin/tini -- /usr/local/bin/jenkins.sh"

networks:
  microservices-net:
    name: microservices-net
    external: false

volumes:
  jenkins_home:
    driver: local